.src-canvas-layer {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-origin: 0 0;
	overflow: visible !important;
	pointer-events: none;

	polygon {
		pointer-events: all;
	}
	rect{
		pointer-events: all;
	}
	ellipse{
		pointer-events: all;
	}
}
