.src-selection-group{
  position: absolute;
  border: solid 1px rgba(black,0.3);
  box-sizing: border-box;
  $amount: 10px;

  &__top-left{
    top: -$amount;
    left: -$amount;
  }

  &__top{
    top: -$amount;
    left: 50%;
    transform: translateX(-50%);
  }

  &__top-right{
    top: -$amount;
    right: -$amount;
  }

  &__left{
    left: -$amount;
    top: 50%;
    transform: translateY(-50%);
  }

  &__right{
    right: -$amount;
    top: 50%;
    transform: translateY(-50%);
  }

  &__bot-left{
    bottom: -$amount;
    left: -$amount;
  }

  &__bot{
    bottom: -$amount;
    left: 50%;
    transform: translateX(-50%);
  }

  &__bot-right{
    bottom: -$amount;
    right: -$amount;
  }
}
